{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "airbnb",
        "airbnb/hooks",
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "semi": 1,
        "comma-dangle": 1
    },
    "ignorePatterns": ["./config", "./node_modules"],
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "./config/webpack.config.js"
            }
        }
    }
}