{
  "rules": {
    "semi": 1,
    "no-unused-vars": 1,
    "comma-dangle": 1,
    "no-multiple-empty-lines": [1, { "max": 2 }],
    "import/order": [1, {
      "newlines-between": "always-and-inside-groups",
      "groups": ["builtin", "external", "internal"]
    }],
    "import/extensions": 1,
    "import/newline-after-import": [1, { "count": 2 }]
  },
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "ignorePatterns": [
    "./config",
    "./node_modules"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack.common.js"
      }
    }
  }
}